.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.demTable {
  width: 100%;
  height: 100%;
  border: 1px solid #5c5c5c;
  border-collapse: collapse;
}
#theader {
  border: 1px solid #5c5c5c;
  background: #9c9c9c;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.FATTEST {
  font-size: 29px;
  font-weight: bolder;
}
.demTable td {
  border: 1px solid #5c5c5c;
  text-align: center;
  padding: 5px;
  background: #dbdbdb;
  color: #363636;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
